.searchlocation {
    background: url("https://previews.123rf.com/images/charnsitr/charnsitr1603/charnsitr160300033/55365450-vector-background-of-city-building.jpg");
    height: 120px;
    background-position: bottom;
}
.chooseone {
    background: white;
    padding: 11px 30px;
    cursor: pointer;
}
.chooseone:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}