* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
* a {
  text-decoration: none;
}
html, body {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
#root {
  height: 100%;
}
.topinfonavbar {
  background: #e7ebf9;
  padding: 7px 0px;
}
.topinfonavbar_content {
  width: 80%;
  margin: auto;
  display: flex;
}